* {
    padding: 0;
    border: 0;
    max-width: 70vw;
    margin: auto;
}

header {
    text-align: center;
    padding: 10px 0;
}

main {
    background-color: yellow;
}

#team {
    padding-top: 100px;
    background-color: white;
    position: relative;
}

/* waves start  */
.custom-shape-divider-bottom-1684266820 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684266820 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1684266820 .shape-fill {
    fill: #2276B3;
}
/* waves end  */

#ducks-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
}

.duck {
    position: relative;
    top: -20px;
    z-index: 2;
    color: white;
}

#contact-us{
    background-color: green;
    color: white;
    padding: 15px 32px;
    cursor: pointer;
    width: 35%;
    margin: 1vh auto;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

#concepten {
    margin: auto;
    max-width: 40vw;
}

.concept {
    padding-bottom: 10px;
}

.concept h2 {
    text-align: center;
}

#pond {
    display: none;
}

#emails h3 {
    margin: auto auto;
    padding: 5px 0px;
}

#emails {
    text-align: center;
/*  display: flex;
    justify-content: space-evenly; */
}

footer {
    margin-top: 1vh;
    display: flex;
    background-color: grey;
}