* {
    padding: 0;
    border: 0;
    max-width: 70vw;
    margin: auto;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: Arial, serif;
    background-color: #e6f7fe;
    color: #ffb202;
}

main {
    width: 100vw;
    background-color: #e6f7fe;
}

.h1 {
    font-family: Arial, sans-serif;
    font-size: 28px;
}

#team {
    padding-top: 100px;
    background-color: #e6f7fe;
    position: relative;

}

/* waves start  */
.custom-shape-divider-bottom-1684266820 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684266820 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 83px;
}

.custom-shape-divider-bottom-1684266820 .shape-fill {
    fill: #5cbfee;
}
/* waves end  */

#ducks-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    font-family: Arial, serif;
}

.duck {
    position: relative;
    top: -20px;
    z-index: 2;
    color: white;
    font-family: Arial, serif;
}

#contact-us{
    background-color: #ffb202;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: white;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    justify-content: center;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    position: relative;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#design-question {
    text-align: center;
    font-family: Arial, serif;
    max-width: 700px;
    padding-top: 20px;
}

#mvp {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Arial, serif;
    max-width: 700px;
}

#concepten {
    /* margin: auto; */
    /* max-width: 120vh; */
    width: auto;
    margin: auto;
    font-family: Arial, serif;
    padding: 10px;
    justify-content: center;
    display: flex;
}

.concept {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius:50%;
    background: #f6f63a;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
    overflow: hidden;
}

.concept > p, .concept > h2 {
    padding-top: 13.5%;
}

#info-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 25px;
    max-width: 800px;
}

#miro {
    background-color: #ffb202;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: white;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    max-width: 250px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#onedrive {
    background-color: #ffb202;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: white;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    max-width: 250px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#figma {
    background-color: #ffb202;
    border: 0 solid #E5E7EB;
    box-sizing: border-box;
    color: white;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-weight: 700;
    line-height: 1.75rem;
    padding: .75rem 1.65rem;
    text-align: center;
    text-decoration: none #000000 solid;
    text-decoration-thickness: auto;
    max-width: 250px;
    cursor: pointer;
    transform: rotate(-2deg);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


#emails h3 {
    margin: auto auto;
    padding: 5px;
    font-family: Arial, serif;
}

#emails {
    text-align: center;
/*  display: flex;
    justify-content: space-evenly; */
    font-family: Arial, serif;
}

#rollen {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-family: Arial, serif;
    max-width: 1200px;
}

#team-rol {
    width: 280px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 30px;
}

footer {
    margin-top: 40px;
    display: flex;
    background-color: #5cbfee;
    font-family: Arial, serif;
    padding-top: 20px;
    padding-bottom: 30px;
}

#footer-wrapper {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    width: 140vh;
    font-family: Arial, serif;
}
